fastapi
uvicorn
requests
beautifulsoup4
openai
langchain
faiss-cpu
sentence-transformers
cachetools
selenium
webdriver-manager
python-dotenv
langchain-community
tiktoken
langchain-openai
pandas
vaderSentiment
praw
numpy
textblob
gunicorn
langchain-groq
